*{
    margin: 0;
    padding: 0;
}
nav{
    width: 100%;
    /* background: purple; */
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    
}
.logo{
    /* background: red; */
    width: 30%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo p{
    font-size: 50px;
    font-weight: bold;
    color: brown;
}
.bar{
    /* background: gold; */
    width: 70%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bar a{
    text-decoration: none;
    font-size: 28px;
    color: white;
    padding-left: 85px;
    
}
.bar a:hover{
    color: red;
}
main{
    background-image: url(/img/bg5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.con1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 80vh;
    padding-top: 60px;
}
.con1 h1{
    color: white;
    text-align: center;
    width: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
    color: gold;
    font-size: 50px;
}
.con1 button{
    border: none;
    width: 130px;
    height: 50px;
    border-radius: 50px;
    background-color: crimson;
    color: white;
    font-weight: bold;
    
}
.con2{
    /* margin-top: 80px; */
    width: 100%;
    height: 100vh;
    background-color: rgb(55, 63, 71);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.con2 h1{
    margin-bottom: 50px;
    font-size: 50px;
    color: gold;
}
.con3{
    /* margin-top: 80px; */
    width: 100%;
    height: 100vh;
    background-color: rgb(55, 63, 71);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.con3 h1{
    margin-bottom: 50px;
    font-size: 50px;
    color: gold;
}
.con4{
    width: 100%;
    height: 40vh;
    background-color: rgb(55, 63, 71);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.contact{
    width: 100%;
    height: 100vh;
    background-color: rgb(55, 63, 71);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: none;
}
.about{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-image: url(/img/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 150px;
}
.about h1{
    color: gold;
    font-size: 40px;
    margin-bottom: 30px;
    font-weight: bolder;
}
.about p{
    width: 50%;
    font-size: 30px;
    text-align: center;
    color: green;

}
.box{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
}
.b1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#c2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 500px;
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#c3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 250px;
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 50px;
}
#cnt{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 250px;
    width: 250px;
    /* box-shadow: none; */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    /* border-radius: 50px; */
}
#cnt i{
    color: red;
    font-size: 40px;
}
#cnt P{
    font-size: 25px;
    color: ghostwhite;
}
.contact h1{
    margin-bottom: 50px;
    font-size: 50px;
    color: gold;
}
.b1 p{
    font-size: 30px;
    color: gold;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
}
.b1 i{
    font-size: 80px;
    color: burlywood;
}
footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    background: rgb(23, 33, 33);
    float: inline-end;
    color: white;
    font-size: 25px;
}